# Entorno virtual
.env/
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
db.sqlite3-journal
*.log
media/
staticfiles/

# Variables de entorno
*.env.local

# Editores y sistema
.vscode/
.idea/
.DS_Store
